<!-- <h1>Welcome {{userId}}! </h1>
<p>Heres your todo list!</p> -->

<div id = "container2">
<h1>Welcome {{userId}}! </h1>
<p>Heres your todo list!</p>
<ul>
	{{#each data}}
	<a href="/{{this.id}}">{{this.todo}}</a>
	<a href = "/index/{{this.usernameref}}/delete"> |DELETE|</a>
	
	{{/each}}
</ul>
<form action="/index/{{userId}}" method="POST">
	<input type = "text" placeholder="TODO" name = "list"><br>
	<input type = "text" placeholder = "description (optional)" name="description"><br>
	<input type= "submit"> <!-- get a get request on sumbit by default -->
</form>
</div>






